<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">
    <test name="Submit Order Test">
        <classes>
            <class name="ave4testing.tests.SubmitOrderTest"/>
        </classes>
    </test>

    <test  name="Error Validation">
        <classes>
            <class name="ave4testing.tests.ErrorValidationTest"/>
        </classes>
    </test>

<!--    <test thread-count="5" preserve-order="true" name="Submit Order Test">-->
<!--        <classes>-->
<!--            <class name="ave4testing.tests.SubmitOrderTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>